---
import { Picture } from "@astrojs/image/components";
import khaosImage from "assets/khaos.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py6 md:order-1  hidden md:block ">
    <Picture
      src={khaosImage}
      alt="khaos"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      background="white"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Khaos Library
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Khaos Library is a metadata library built on the Arweave blockchain.<br />
      We catalogue human creation, open it up to all, and then immortalise it. 
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <p class="text-4xl oldstyle-nums font-bold"> 52,645,492</p>
      <p class="text-sm mt-6 text-slate-600 "> items are being immortalise </p>
    </div>
  </div>
</main>
